h2{
  font-size: 200px;
}


.textField{
  width: 20%;
}

/* .container{
  margin: 8px;
} */

.textField{
  border-color: brown;
  margin-Left: 8px;
  margin-Right: 10px!important
}
.dense{
  margin-Top: 16px;
}

.menu{
  width: 200px;
}
.paper{
  width: 90%;
  margin: auto;
  margin-top: 34px;
}
.container {
  padding: 30px;
  margin: auto;
  width: 90%;
  display: 'grid';
  grid-Template-Columns: 'repeat(12, 1fr)';
 
  /* grid-Gap: `${theme.spacing.unit * 3}px`, */
}
.btn {
  margin-top: 40px!important;
  margin-right: 10px!important;
}
